.footer-nav-wrapper {
    justify-content: space-between;
    padding: 4rem 0 4rem 0;
    flex-wrap: wrap;
}
.footer-nav-wrapper .footer-nav-item{
    width: 12.82%;
}
.footer-nav-wrapper .footer-nav-item:last-child{
    width: 38.46%;
}
@media only screen and ( max-width: 1285px ) {
    .footer-nav-wrapper .footer-nav-item{
        width: 33%;
    }
    .footer-nav-wrapper .footer-nav-item:last-child{
        width: 80%;
    }
}
@media only screen and (max-width: 762px){
    .footer-nav-wrapper {
        justify-content: start;
    }
    .footer-nav-wrapper .footer-nav-item{
        width: 40%;
        margin-bottom: 1rem;
    }
    .footer-nav-wrapper .footer-nav-item:nth-child(3){
        width: 40%;
    }

    .footer-nav-wrapper .footer-nav-item:last-child{
        width: 59%;
    }
}
@media only screen and (max-width: 576px){
    
    .footer-nav-wrapper {
        padding: 1rem;
    }
    .copyright-section {
        padding: 1rem;
    }
    .footer-nav-wrapper .footer-nav-item{
        width: 90%;
        margin-bottom: 1rem;
    }
    .footer-nav-wrapper .footer-nav-item:last-child{
        width: 98%;
    }
    
}
.footer-nav-wrapper .footer-nav-item .item-title{
    margin-bottom: 1.4rem;
}
.footer-nav-wrapper .footer-nav-item  .item-list{
    list-style-type: none;
}
.footer-nav-wrapper .footer-nav-item .item-list li{
    padding: .6rem 0;
    cursor: pointer;
}
.footer-nav-wrapper .footer-nav-item .item-list li:hover a{
    text-decoration: underline;
}
.footer-nav-wrapper .footer-nav-item .signup-text{
    padding: .6rem 0 2rem 0;
}
.footer-nav-wrapper .footer-nav-item .mail-form{
    width: 100%;
}
.footer-nav-wrapper .footer-nav-item .mail-form input{
    outline: none;
    border: 1px solid #d2d2d2;
    padding: 1.2rem 1.6rem;
    width: min(28.8rem, 68%);
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.footer-nav-wrapper .footer-nav-item .mail-form button[type='submit']{
    padding: 1.1rem max(1rem, 7.7%);
    outline: none;
    font-weight: 700;
}
.footer-nav-wrapper .footer-nav-item:last-child .socials{
    margin-top: 3.5rem;
}
.footer-nav-wrapper .footer-nav-item:last-child .socials .social{
    width: 3.6rem;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: min(1.5rem, 5%);
}

.copyright-section {
    border-top: 1px solid #363636;
}
.copyright-section .copyright {
    padding: 2.5rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyright-section .copyright-content p{
    line-height: 2.5;
}
.copyright-section .copyright .sponsors {
    height: 2.4rem;
    margin-top: 1rem;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.copyright-section .copyright .sponsors img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
@media only screen and (max-width: 576px){
    .copyright-section .copyright {
        padding: 1rem 0 3rem 0;
    }
    
}